html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Helvetica', 'Arial', sans-serif;
}

body div.header {
    font-size: 100%;
    padding-top: 12.5px;
    top: 0;
    background-color: grey;
    width: 100%;
    text-align: center;
    color: rgba(18, 2, 123);
    font-weight: 900;
}

.row{
    margin: 0;
}
/* Navbar Formatting Start */
.navbar-expand-lg .navbar-nav{
    width: 100%;
}

.navbar {
    background-color: rgba(255, 255, 255, 0);
    padding-bottom: 10px;
    padding-top: 20px;
    transition: 0.5s;
}

.navbar.scrolled {
    background-color: white;
    padding-bottom: 10px;
    padding-top: 20px;
    transition: 0.5s;
}

.navbar.scrolled-2 {
    background-color: white;
    padding-bottom: 15px;
    padding-top: 15px;
    transition: 0.5s;
}

/* Logo */

.navbar-brand-collapsed {
    display: none;
}

/* Hamburger Icon  */

#navbarSupportedContent a.navlink.btn.btn-primary {
    background-color: rgb(0, 0, 0);
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(18,2,123)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-toggler {
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(18, 2, 123);
}

/* Button Formatting */

ul.navbar-nav {
    top: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(18, 2, 123);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0;
    border-color: rgba(255, 255, 255, 0);
    padding: 15px 70px 15px 70px;
    margin-top: 15px;
    font-size: 1.25vw;
    box-shadow: none;
    font-weight: 600;
    cursor: pointer;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white;
    background-color: rgba(18, 2, 123);
    border-radius: 0;
    font-size: 1.25vw;
    padding: 15px 70px 15px 70px;
    margin-top: 1 5px;
    box-shadow: none;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s;
}

li.nav-item a.active {
    color: white;
    background-color: rgba(18, 2, 123);
    cursor: pointer;
    padding: 10px 5px 10px 5px;
}

span.navbar-text {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    font-size: 1.25vw;
}

#collapsed-navbar-contact-hr{
    display:none;
}

span.navbar-text h1 {
    color: rgba(18, 2, 123);
    font-weight: 700;
}

#logo-contact2 {
    display: none;
}

/* Navbar Formatting End */

/* Index/Main Formatting Start */

#index-main {
    text-align: -webkit-center;
    margin: 0;
    padding: 0;
    position: relative;
}

img#header {
    width: 100%;
    height: 100vh;
    position: relative;
    transition: 0.5s;
}

.image-box {
    position: absolute;
    transition: 0.5s;
    bottom: 10vh;
    left: 10vw;
}

.image-box h1 {
    font-size: 5em;
    color: white;
    font-weight: 1000;
    text-align: left;
    z-index: 1;
}

.image-box h2 {
    font-size: 3.5em;
    color: white;
    font-weight: 1000;
    z-index: 1;
}

.col-sm.description {
    color: black;
    font-size: 2.5em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.col-sm.description strong {
    color: black;
    font-weight: 700;
}

#logocolumn {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#smallbig {
    width: 100%;
    height: 65%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    min-height: 265px;
    width: inherit;
}

#company-wrapper {
    padding: 0 10vh 0 10vh;
}

/* Index/Main Formatting End */

/* About Us Formatting Start*/
div.container#section-title{
    margin: 0;
    padding: 0;
}
#main-about {
    padding: 10vh 10vh 0 10vh;
}

#main-about h1 {
    text-align: left;
    font-size: 5em;
    color: rgba(18, 2, 123);
    border-bottom: 3px solid;
    border-color: rgba(18, 2, 123);
    font-weight: 700;
}

#main-about p {
    font-size: 2.25em;
    text-align: justify;
}

#main-about img {
    width: inherit;
    height: 50%;
    min-height: 100px;
    margin: 0 4% 2vh 0;
    box-shadow: 10px 10px 5px grey;
}

.about {
    margin: 2.5vw 0 5vw 0;
}

.about i {
    font-style: italic;
}

/* About Us Formatting End */

/* Services Formatting Start */

#services-row {
    padding: 19vh 10vh 35vh 10vh;
}

#services-row h1 {
    text-align: left;
    font-size: 5em;
    color: rgba(18, 2, 123);
    font-weight: 700;
    border-bottom: 3px solid;
    border-color: rgba(18, 2, 123);
}

#services-row h2 {
    text-align: center;
    font-size: 3.5rem;
    padding-top: 2vh;
    padding-bottom: 2vh;
    z-index: 1;
    color: rgba(18, 2, 123);
    font-weight: 500;
}

#services-row .row {
    padding-top: 7.5vh;
    padding-bottom: 7.5vh;
}

#services-row .container {
    padding: 35px 20px 0 20px;
}

#services-row p {
    text-align: center;
    font-size: 2em;
}

#services-border {
    border-right: solid 3px rgba(18, 2, 123);
    border-left: solid 3px rgba(18, 2, 123);

}

#services-row img {
    margin-top: 2vh;
    height: 250px;
    margin: auto;
    display: block;
}

#shipping img {
    width: inherit;
    padding-left: 5vh;
}

/* Services Formatting End */

/* Contact Us Formatting Start */

#main-contactus {
    position: relative;
    background-image: url("../css/img/richmond-int3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding: 25vh 0vh 25vh 0vh;
}

div#contact-us {
    position: relative;
    backdrop-filter: blur(10px);
    background-color: rgba(158, 158, 158, 0.85);
    ;
    padding: 20px 20px 20px 20px;
    display: block;
    max-width: 900px;
    border-radius: 5px;
}

div#contact-us p {
    color: rgba(18, 2, 123);
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
    padding-bottom: 15px;
}

form {
    display: block;
}

.form-row label {
    margin-top: 10px;
    font-size: 2em;
    color: rgba(18, 2, 123);
    font-weight: 600;
}

textarea.form-control {
    margin-top: 1%;
    height: 200px;
    overflow: auto;
    color: black;
    border: 0;
    border: 3px solid rgba(18, 2, 123);
    outline: 0;
    background: transparent;
}

textarea:focus.form-control {
    color: black;
}

input.form-control {
    width: 70%;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: auto;
    color: black;
    font-size: 1.75em;
    transition: 0.5s;
}

input:focus.form-control {
    color: black;
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1;
    /* Firefox */
}

.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: black;
}

.form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: black;
}

.document-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.document-upload button {
    font-size: 1.125em;
}

.document-upload button:hover {
    font-size: 1.125em;
    background-color: rgba(18, 2, 123);
}

.document-upload label {
    padding-right: 20px;
    color: rgba(18, 2, 123);
    font-size: 1.5em;
}

input[type="text"] {
    border: 0;
    border-bottom: 3px solid rgba(18, 2, 123);
    outline: 0;
    background: transparent;
}

input[type="text"]:after {
    border: 0;
    border-bottom: 3px solid rgba(18, 2, 123);
    outline: 0;
    background: transparent;
}

#form-row input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
}

.btn-primary {
    background-color: rgba(18, 2, 123);
    border-color: rgba(18, 2, 123);
}

.center-button {
    margin-top: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-button button:hover {
    background-color: rgba(18, 2, 123);
}

/* Contact Us Formatting End */

/* Footer */

#footer {
    width: 100%;
    font-size: 3em;
    background-color: rgba(126, 126, 126, 0.75);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: rgba(18, 2, 123);
    font-weight: 600;
    display: block;
}

#rights-reserved {
    padding-top: 10px;
    font-size: 0.65em;
}

#rights-reserved a {
    color: rgba(18, 2, 123);
}

#rights-reserved a:hover {
    text-decoration: none;
}

#rights-reserved-menu {
    padding: 10px;
    font-size: 0.65em;
    text-decoration: none;
}

#rights-reserved-menu a {
    color: rgba(18, 2, 123);
    padding: 1vh 1vh 0 1vh;
    text-decoration: none;
}

#rights-reserved-2 {
    padding: 20px 0 20px 0;
    font-size: 0.5em;
    color: rgba(18, 2, 123);
}

.underline {
    display: inline;
    position: relative;
    overflow: hidden;
}

.underline:after {
    content: "";
    position: absolute;
    z-index: 2;
    left: 0;
    right: 100%;
    bottom: -5px;
    background: rgba(18, 2, 123);
    height: 3px;
    transition-property: left right;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.underline:hover:after,
.underline:focus:after,
.underline:active:after {
    right: 0;
}

#footer-reordered {
    display: none;
    width: 100%;
    font-size: 3em;
    text-align: center;
    color: rgba(18, 2, 123);
    font-weight: 600;
    background-image: linear-gradient(transparent,white, rgba(126, 126, 126, 0.75));
}

#footer-reordered-menu{
    padding: 20px 0 0px 0;
}

/* Privacy Policy */
.navbar.navbar-expand-lg.navbar-light.fixed-top.privacy-policy {
    background-color: white;
}

#privacy-policy {
    padding-top: 13vh;
    padding-bottom: 10vh;
}

#privacy-policy h1 {
    font-size: 3em;
    color: rgba(18, 2, 123);
}

#privacy-policy hr {
    border: 1px solid;
    color: rgba(18, 2, 123);
}

#top-p {
    padding-top: 30px;
}

#privacy-policy h2 {
    font-size: 1.75em;
    padding: 30px 0 30px 0;
    font-weight: 575;
}

#privacy-policy p {
    font-size: 1.25em;
}

#privacy-policy strong {
    font-weight: 550;
}

#sub-p {
    padding-top: 15px;
}

#bottom-p {
    padding-bottom: 60px;
}

#privacy-policy i {
    font-style: italic;
}

.privacy-footer {
    bottom: 0;
}

/* Privacy Policy End */

/* T&C Start */

#terms {
    padding-top: 13vh;
    padding-bottom: 10vh;
}

#terms h1 {
    font-size: 3em;
    color: rgba(18, 2, 123);
}

#terms hr {
    border: 1px solid;
    color: rgba(18, 2, 123);
}

/* T&C End */

@media (max-width:1700px) {

    /* main formatting */
    .image-box h1 {
        font-size: 3em;
        transition: 0.5s;
    }

    .image-box h2 {
        font-size: 2.75em;
        transition: 0.5s;
    }

    .col-sm.description {
        font-size: 2em;
        transition: 0.5s;
    }

    /* main formatting end */
    /* about us formatting start */
    #main-about h1 {
        font-size: 4em;
    }

    #main-about p {
        font-size: 1.75em
    }

    /* about us formatting end */
    /* services formatting */
    #services-row {
        padding: 19vh 10vh 28.5vh 10vh;
    }

    #services-row h1 {
        font-size: 4em
    }

    #services-row .container h2 {
        font-size: 1.75em;
    }

    #services-row p {
        font-size: 1.75em;
    }

    #services-row img {
        height: 230px;
    }

    /* services formatting end */
}

@media screen and (max-width: 1500px) {
    #services-row img {
        height: 129px;
    }

    #footer {
        font-size: 2em;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media screen and (max-width:1400px) {

    /* navbar formatting */
    .navbar-brand-collapsed {
        display: none;
    }

    .navbar {
        height: 75px;
        padding-bottom: 10px;
        padding-top: 10px;
        transition: 0;
    }

    .navbar.scrolled {
        height: 75px;
        padding-bottom: 10px;
        padding-top: 10px;
        transition: 0;
    }

    .navbar .navbar-toggler {
        padding: 0;
        font-size: 1rem;
        position: absolute;
    }

    .navbar-light .navbar-nav .nav-link {
        font-size: 1.25vw;
        padding: 15px 40px 15px 40px;
    }

    .navbar-light .navbar-nav .nav-link:hover {
        font-size: 1.25vw;
        padding: 15px 40px 15px 40px;
    }

    li.nav-item a.active {
        color: white;
        background-color: rgba(18, 2, 123);
        cursor: pointer;
        padding: 10px 5px 10px 5px;
    }

    /* navbar formatting end */
    /* main formatting */

    .image-box {
        bottom: 5vh;
        left: 10vw;
    }

    img#header {
        height: 100vh;
        width: 100vw;
        position: relative;
        transition: 0.5s;
    }

    .image-box h1 {
        font-size: 3em;
        transition: 0.5s;
    }

    .image-box h2 {
        font-size: 2.75em;
        transition: 0.5s;
    }

    .col-sm.description {
        font-size: 1.50em;
        transition: 0.5s;
    }

    /* main formatting end */
    /* about us formatting start */
    #main-about {
        padding: 10vh 10vh 0 10vh;
    }

    /* about us formatting end */
    /* services formatting */
    #services-row {
        padding: 0 10vh 10vh 10vh;
    }

    #services-row .container h2 {
        font-size: 2em;
    }

    #services-row p {
        font-size: 1.5em;
    }

    /* services formatting end */
}

@media screen and (max-width:1025px) {

    /* navbar formatting */

    .navbar-light .navbar-toggler {
        margin-left: 30px;
    }

    /* navbar formatting end */
    /* main formatting */
    .image-box h1 {
        font-size: 2.5em;
        transition: 0.5s;
    }

    .image-box h2 {
        font-size: 2em;
        transition: 0.5s;
    }

    .col-sm.description {
        font-size: 1.5em;
        transition: 0.5s;
    }

    .col-sm.description {
        font-size: 1.5em;
        transition: 0.5s;
    }

    #company-wrapper {
        padding: 5vh 5vh 0 5vh;
    }

    /* main formatting end */
    /* about us formatting start */
    .about {
        padding: 0 2.5vh 0 2.5vh;
    }

    #main-about {
        padding: 10vh 5vh 0 5vh;
    }

    #main-about {
        padding: 10vh 5vh 0 5vh;
    }

    #main-about h1 {
        font-size: 3em;
    }

    #main-about p {
        font-size: 1.5em;
    }

    /* about us formatting end */
    /* services formatting */
    #services-row h1 {
        font-size: 3em;
    }

    #services-row p {
        font-size: 1.5em;
    }

    #services-row {
        padding: 0 5vh 0 5vh;
    }

    #services-row img {
        height: 105px;
    }

    /* services formatting end */
    /* Contact Us Formatting Start */
    div#contact-us {
        max-width: 600px;
    }

    div#contact-us p {
        font-size: 1.5em;
    }

    .form-row label {
        font-size: 1.5em;
    }

    input.form-control {
        font-size: 1.25em;
    }

    .document-upload label {
        font-size: 1.25em;
    }

    textarea.form-control {
        height: 150px;
    }

    /* Contact Us Formatting End */
    /* Footer */
    #footer {
        font-size: 1.75em;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media screen and (max-width:991px) {

    /* navbar formatting */
    .navbar{
        padding: 15px 0 15px 0;
    }

    .navbar.scrolled {
        padding: 15px 0 15px 0;
    }

    div ul.navbar-nav {
        margin-top: 42.5px;
    }

    div ul.navbar-nav.privacy-policy {
        margin-top: 45px;
    }

    div ul.navbar-nav img {
        display: none;
    }

    .navbar-brand-collapsed {
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 45px;
    }

    .navbar-light .navbar-nav .nav-link {
        font-size: 1.25em;
    }

    .navbar-light .navbar-nav .nav-link:hover {
        font-size: 1.25em;
    }

    .navbar-nav {
        background: white;
    }

    #logo-contact2 {
        font-size: 1em;
        display: block;
        word-spacing: 10px;
        padding-bottom: 2vh;
    }

    #logo-contact {
        display: none;
    }

    hr#collapsed-navbar-contact-hr {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        border-top: 2px ridge;
        width: 85vw;
        border-color: rgba(18, 2, 123);
        display: block;
    }

    #contact-collapse{
        padding: 10px 0 10px 0;
        font-weight: 700px;
        font-size: 1.5em;
        text-align: center;
    }

    /* navbar formatting end */
    /* main formatting */
    .col-sm.description {
        font-size: 1.25em;
        transition: 0.5s;
    }

    /* main formatting end */
    /* about us formatting start */
    #main-about {
        padding: 10vh 5vh 0 5vh;
    }

    #main-about h1 {
        font-size: 2em;
        padding-left: 10px;
    }

    #main-about p {
        font-size: 1.25em;
    }

    /* about us formatting end */
    /* services formatting start */
    #services-row {
        padding: 0 5vh 0 5vh;
    }

    #services-row h1 {
        font-size: 2em;
        padding-left: 10px;
    }

    #services-row p {
        font-size: 1.25em;
    }

    /* services formatting end */

    /* contact-us formatting */
    .document-upload button {
        font-size: 0.75em;
        padding: 2px;
    }
    .document-upload button:hover {
        font-size: 0.75em;
        background-color: rgba(18, 2, 123);
    }
    /* contact us formatting end */
    .center-button .btn-lg {
        font-size: 1em;
    }

    /* contact-us end */

    /* privacy-policy */
    #privacy-policy {
        padding-top: 20vh;
    }
    #privacy-policy h1{
        font-size: 1.75em;
    }
    #privacy-policy p{
        font-size: 1em;
    }
    #privacy-policy h2{
        font-size: 1.5em;
    }
}

@media screen and (max-width: 800px) {

    /* about us formatting */
    #main-about p {
        text-align: justify;

    }

    /* about us formatting end */
    /* services formatting */
    #services-row h2 {
        font-size: 1.5em;
    }

    #services-row p {
        text-align: justify;
        font-size: 1em;
    }

    /* services formatting end */
    /* footer start */
    #rights-reserved-menu{
        font-size: 0.50em
    }
    /* footer end */
}

@media screen and (max-width: 769px) {
    .image-box h1 {
        font-size: 2em;
        transition: 0.5s;
    }

    .image-box h2 {
        font-size: 1.5em;
        transition: 0.5s;
    }

    .footer {
        height: 60px;
    }
}

@media (max-width: 767px) {

    div#contact-us {
        width: 100%;
    }

    input.form-control {
        width: 100%;
        transition: 0.5s;
    }

    .about {
        margin: 7.5vw 0 7.5vw 0;
        padding: 0 2.5vh 0 4.5vh;
    }

    .about p {
        padding-top: 10px;
    }

    #services-border {
        border: none;
    }

    #services-row .container {
        padding: 35px 20px 20px 20px;
    }

}

@media screen and (max-width: 600px) {

    /* index formatting */
    img#header {
        height: 44vh;
        transition: 0.5s;
    }

    #smallbig {
        display: block;
    }

    #main-about {
        padding: 11vh 0 0 0;
    }

    #company-wrapper {
        padding: 5vh 2.5vh 0 2.5vh;
    }

    #main-about img {
        height: auto;
    }

    #main-about p {
        font-size: 1em;
    }

    /* index formatting end */
    /* services formatting */
    #services-row {
        padding: 11vh 0 0 0;
    }

    #services-row .container h2 {
        top: 12.5%;
        transition: 0.5s;
        padding-top: 0;
        border-radius: 5px;
    }

    #services-row p {
        font-size: 1em;
    }

    #services-row img {
        height: 75px;
    }

    /* services formatting end */
    /* Contact Us Formatting Start */
    div#contact-us {
        max-width: 500px;
        padding: 10px 10px 10px 10px;
    }

    div#contact-us p {
        font-size: 1.25em;
    }

    .form-row label {
        font-size: 1em;
    }

    textarea.form-control {
        height: 100px;
    }

    input.form-control {
        font-size: 1em;
    }

    .document-upload label {
        font-size: 0.75em;
    }

    #main-contactus {
        position: relative;
        background-image: none;
        width: 100%;
        padding: 15vh 0vh 15vh 0vh;
    }
    /* Contact Us Formatting End */
    /* Footer */
    #footer {
        font-size: 1.5em;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #rights-reserved-menu {
        padding-top: 10px;
        font-size: 0.50em;
    }

}

@media screen and (max-width: 575px) {
    
    #footer {
        display: none;
    }

    #footer-reordered {
        padding: 0;
        font-size: 1.75em;
        text-align: center;
        display: block;
        background-image: linear-gradient(transparent, rgba(126, 126, 126, 0.75));
    }

    #services-border {
        border: none;
    }
}

@media screen and (max-width: 519px) {
    .image-box h1 {
        font-size: 1.5em;
        transition: 0.5s;
    }

    .image-box h2 {
        font-size: 0.85em;
        transition: 0.5s;
    }
}

@media screen and (max-width: 400px) {
    #logo-contact2 {
        font-size: 0.95em;
    }
}

/* Safari 11+ */
@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) and (stroke-color:transparent) {
        ul.navbar-nav {
            position: fixed;
        }
    }
}

/* Safari 10.1 */
@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) and (not (stroke-color:transparent)) {
        ul.navbar-nav {
            position: fixed;
        }
    }
}

/* Safari 6.1-10.0 (not 10.1) */
@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) {
    @media {
        ul.navbar-nav {
            position: fixed;
        }
    }
}