html {
    scroll-behavior: smooth;
}

body div.header {
    font-size: 100%;
    padding-top: 12.5px;
    top: 0;
    background-color: grey;
    width: 100%;
    text-align: center;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: rgba(18, 2, 123);
    font-weight: 900;
}

/* Navbar Formatting Start */

.navbar {
    padding: 0;
}

nav.navbar.navbar-expand-lg.navbar-light {
    background-color: rgba(255, 255, 255, 0);
    height: 95px;
    padding-bottom: 10px;
    padding-top: 20px;
    position: fixed;
    width: 100vw;
    z-index: 2;
    transition: 0.5s;
}

nav.navbar.navbar-expand-lg.navbar-light.scrolled {
    background-color: rgb(255, 255, 255);
    padding-bottom: 10px;
    padding-top: 20px;
    height: 95px;
    position: fixed;
    width: 100vw;
    z-index: 2;
    transition: 0.5s;
}

/* Logo */

.navbar-brand-collapsed {
    display: none;
}

/* Hamburger Icon  */

#navbarSupportedContent a.navlink.btn.btn-primary {
    background-color: rgb(0, 0, 0);
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(18,2,123)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-toggler {
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(18, 2, 123);
}

/* Button Formatting */

.navbar {
    position: relative;
}

ul.navbar-nav {
    width: 100vw;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0;
    border-color: rgba(255, 255, 255, 0);
    padding: 15px 70px 15px 70px;
    margin-top: 15px;
    font-size: 1.25vw;
    font-family: 'Helvetica', 'Arial', sans-serif;
    box-shadow: none;
    font-weight: 600;
    cursor: pointer;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white;
    background-color: rgba(18, 2, 123);
    border-radius: 0;
    font-size: 1.25vw;
    padding: 15px 70px 15px 70px;
    margin-top: 1 5px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    box-shadow: none;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s;
}

li.nav-item a.active {
    color: white;
    background-color: rgba(18, 2, 123);
    cursor: pointer;
    padding: 10px 5px 10px 5px;
}

/* Navbar Formatting End */

/* Index/Main Formatting Start */

#index-main {
    text-align: -webkit-center;
    margin: 0;
    padding: 0;
    position: relative;
}

img#header {
    height: 57.5vh;
    width: 100vw;
    position: relative;
    transition: 0.5s;
}

.image-box {
    position: absolute;
    transition: 0.5s;
    bottom: 30px;
    left: 10vw;
}

.image-box h1 {
    font-size: 75px;
    color: white;
    font-weight: 1000;
    font-family: 'Helvetica', 'Arial', sans-serif;
    text-align: left;
    z-index: 1;
}

.image-box h2 {
    font-size: 45px;
    color: white;
    font-weight: 1000;
    font-family: 'Helvetica', 'Arial', sans-serif;
    z-index: 1;
}

.col-sm.description {
    color: black;
    padding-top: 10px;
    font-size: 30px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: 0 6.5% 2.5% 6.5%;
    text-align: match-parent;
}

.col-sm.description strong {
    color: black;
    padding-top: 10px;
    font-size: 30px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: 700;
}

#logocolumn{
    padding-top: 5%;
}

#smallbig {
    width: 100%;
    height: 65%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    min-height: 265px;
    min-width: 343px;
}

#company-wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
}

/* Index/Main Formatting End */

/* About Us Formatting Start*/

#main-about {
    padding: 10vh 0 0 0;
}

#main-about h1 {
    text-align: left;
    font-size: 50px;
    color: rgba(18, 2, 123);
    font-family: 'Helvetica', 'Arial', sans-serif;
    border-bottom: 3px solid;
    border-color: rgba(18, 2, 123);
    font-weight: 200px;
}

#main-about p {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 25px;
    text-align: left;
}

#main-about img {
    float: left;
    text-align: center;
    height: 40%;
    width: 30%;
    min-width: 200px;
    min-height: 100px;
    margin: 0 4% 2vh 0;
    box-shadow: 10px 10px 5px grey;
}

.maria {
    margin: 2.5vw 0 5vw 0;
}

.maria i {
    font-style: italic;
}

.rafa {
    margin: 5vw 0 0 0;
}

.rafa i {
    font-style: italic;
}

/* About Us Formatting End */

/* Services Formatting Start */

#services-row {
    padding-top: 19vh;
    padding-bottom: 66vh;

}

#services-row h1 {
    text-align: left;
    font-size: 50px;
    color: rgba(18, 2, 123);
    font-family: 'Helvetica', 'Arial', sans-serif;
    border-bottom: 3px solid;
    border-color: rgba(18, 2, 123);
}

#services-row h2 {
    text-align: center;
    font-size: 1.75rem;
    padding-top: 2vh;
    border-bottom: 3px solid;
    border-color: rgba(18, 2, 123);
}

#services-row p {
    text-align: justify;
    font-size: 25px;
}

/* Services Formatting End */

/* Contact Us Formatting Start */

#main-contactus {
    position: relative;
    background-image: url("../css/img/richmond-int3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    padding: 25vh 0vh 25vh 0vh;
}


div#contact-us {
    position: relative;
    backdrop-filter: blur(15px);
    background-color: grey;
    padding: 20px 20px 20px 20px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    display: block;
    max-width:800px;
}

div#contact-us p {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 700;
    font-family: 'Helvetica', 'Arial', sans-serif;
    text-align: center;
    padding-bottom: 15px;
}

form {
    display: block;
}

.form-row label {
    margin-top: 10px;
    font-size: 20px;
    color: rgba(18, 2, 123);
    font-weight: 600;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

textarea.form-control {
    margin-top: 1%;
    resize: none;
    height: 130px;
    overflow: scroll;
    color: black;
}

textarea:focus.form-control {
    color: black;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

input.form-control {
    width: 70%;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: auto;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: black;
    transition: 0.5s;
}

input:focus.form-control {
    color: black;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.btn-primary {
    background-color: rgba(18, 2, 123);
    border-color: rgba(18, 2, 123);
}

.center-button {
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin-top: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Contact Us Formatting End */

/* Footer */

#footer {
    width: 100%;
    font-size: 25px;
    background-color: grey;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: rgba(18, 2, 123);
    font-weight: 600;
    font-family: 'Helvetica', 'Arial', sans-serif;
    display:block;
}


@media (min-width:320px) {
    /* smartphones, iPhone, portrait 480x320 phones */
}

@media (max-width:1700px) {
    #company-wrapper {
        padding-top: 0;
    }

    #main-about {
        padding: 12vh 0 0 0;
    }
}

@media screen and (max-width:1400px) {

    /* hi-res laptops and desktops */
    .navbar-brand-collapsed {
        display: none;
    }

    nav.navbar.navbar-expand-lg.navbar-light {
        height: 75px;
        padding-bottom: 10px;
        padding-top: 10px;
        width: 100vw;
        transition: 0;
    }

    nav.navbar.navbar-expand-lg.navbar-light.scrolled {
        height: 75px;
        padding-bottom: 10px;
        padding-top: 10px;
        width: 100vw;
        transition: 0;
    }

    nav.navbar.navbar-expand-lg.navbar-light .navbar-toggler {
        padding: 0;
        font-size: 1rem;

    }

    .navbar-light .navbar-nav .nav-link {
        font-size: 1.25vw;
        padding: 15px 40px 15px 40px;
    }

    .navbar-light .navbar-nav .nav-link:hover {
        font-size: 1.25vw;
        padding: 15px 40px 15px 40px;
    }

    li.nav-item a.active {
        color: white;
        background-color: rgba(18, 2, 123);
        cursor: pointer;
        padding: 10px 5px 10px 5px;
    }

    img#header {
        height: 36.5vh;
        width: 100vw;
        position: relative;
        transition: 0.5s;
    }

    .col-sm.description {
        color: black;
        padding-top: 10px;
        font-size: 25px;
        font-family: 'Helvetica', 'Arial', sans-serif;
        margin: 0 6.5% 2.5% 6.5%;
        text-align: match-parent;
    }

    .col-sm.description strong {
        color: black;
        padding-top: 10px;
        font-size: 25px;
        font-family: 'Helvetica', 'Arial', sans-serif;
        font-weight: 700;
    }
}

@media screen and (max-width:1025px) {

    /* big landscape tablets, laptops, and desktops */
    .navbar {
        position: relative;
    }

    .navbar-collapse {
        margin-top: 20px;
    }

    .navbar-light .navbar-toggler {
        margin-left: 30px;
    }

    .image-box h1 {
        font-size: 35px;
        transition: 0.5s;
    }

    .image-box h2 {
        font-size: 25px;
        transition: 0.5s;
    }

}

@media screen and (max-width:992px) {
    .navbar-nav {
        background: white;
    }

    .navbar-brand-collapsed {
        display: block;
        position: absolute;
        left: 44.5%;
        height: 45px;
    }

    .navbar-light .navbar-nav .nav-link {
        font-size: 4vw;
    }

    .navbar-light .navbar-nav .nav-link:hover {
        font-size: 4vw;
    }

    div ul.navbar-nav img {
        display: none;
    }
}

@media screen and (max-width:991px) {

    .navbar-light .navbar-nav .nav-link {
        font-size: 3.25vw;
    }

    .navbar-light .navbar-nav .nav-link:hover {
        font-size: 4vw;
    }
}

@media screen and (max-width: 769px) {

    .image-box h1 {
        font-size: 25px;
        transition: 0.5s;
    }

    .image-box h2 {
        font-size: 15px;
        transition: 0.5s;
    }

    .footer {
        height: 60px;
    }
}

@media (max-width: 767px) {

/* @grid-float-breakpoint -1 */

    div#contact-us {
        width: 100vw;
    }

    input.form-control {
        width: 100%;
        transition: 0.5s;
    }

    .navbar-fixed-top {
        position: relative;
        top: auto;
    }
}

@media screen and (max-width: 600px) {

    img#header {
        height: 36.5vh;
        transition: 0.5s;
    }

    #smallbig {
        display: block;
    }

}