<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>MAINDEL, LLC - Sourcing and Logistics Consultants</title>
    <meta name="author" content="Rafael Boscan Castillo">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="57x57" href="../css/img/favicon/apple-icon-57x57.png?">
    <link rel="apple-touch-icon" sizes="60x60" href="../css/img/favicon/apple-icon-60x60.png?">
    <link rel="apple-touch-icon" sizes="72x72" href="../css/img/favicon/apple-icon-72x72.png?">
    <link rel="apple-touch-icon" sizes="76x76" href="../css/img/favicon/apple-icon-76x76.png?">
    <link rel="apple-touch-icon" sizes="114x114" href="../css/img/favicon/apple-icon-114x114.png?">
    <link rel="apple-touch-icon" sizes="120x120" href="../css/img/favicon/apple-icon-120x120.png?">
    <link rel="apple-touch-icon" sizes="144x144" href="../css/img/favicon/apple-icon-144x144.png?">
    <link rel="apple-touch-icon" sizes="152x152" href="../css/img/favicon/apple-icon-152x152.png?">
    <link rel="apple-touch-icon" sizes="180x180" href="../css/img/favicon/apple-icon-180x180.png?">
    <link rel="icon" type="image/png" sizes="192x192" href="../css/img/favicon/android-icon-192x192.png?">
    <link rel="icon" type="image/png" sizes="32x32" href="../css/img/favicon/favicon-32x32.png?">
    <link rel="icon" type="image/png" sizes="96x96" href="../css/img/favicon/favicon-96x96.png?">
    <link rel="icon" type="image/png" sizes="16x16" href="../css/img/favicon/favicon-16x16.png?">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/styles.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top privacy-policy">
        <img src='../css/img/pyramid-transparent.png' alt="M.A. Indel Pyramid with Rising Sun"
            class="navbar-brand-collapsed mx-auto">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav privacy-policy">
                <li class="nav-item mx-auto" id="navbar-button">
                    <a class="nav-link" href="../templates/index.html#">HOME</a>
                </li>
                <li class="nav-item mx-auto" id="navbar-button">
                    <a class="nav-link" href="../templates/index.html#main-about">ABOUT US</a>
                </li>
                <span class="navbar-text mx-auto" id="logo-contact">
                    <h1>sales@maindel.us</h1>
                </span>
                <img src='../css/img/pyramid-transparent.png' class="navbar-brand mx-auto"
                    alt="M.A. Indel Pyramid with Rising Sun">
                <span class="navbar-text mx-auto" id="logo-contact">
                    <h1>+1-804-564-3039</h1>
                </span>
                <li class="nav-item mx-auto" id="navbar-button">
                    <a class="nav-link" href="../templates/index.html#services-row">SERVICES</a>
                </li>
                <li class="nav-item mx-auto" id="navbar-button">
                    <a class="nav-link " href="../templates/index.html#main-contactus">CONTACT US</a>
                </li>
                <hr id="collapsed-navbar-contact-hr">
                <span class="navbar-text mx-auto" id="logo-contact2">
                    <h1>sales@maindel.us +1-804-564-3039</h1>
                </span>
            </ul>
        </div>
    </nav>
    <div class="container-fluid" id="privacy-policy">
        <div class="container">
            <p>
                <h1>Privacy Policy</h1>
                <hr>
                <p id="top-p">This privacy policy was created in order to inform website visitors about how Personally
                    identifiable information (PII) is being used. As defined in
                    <a href="https://www.dol.gov/general/ppii">https://www.dol.gov/general/ppii</a>, PII is “Any
                    representation of information that permits the identity of an individual to whom the information
                    applies
                    to
                    be reasonably inferred by either direct or indirect means. Further, PII is defined as information:
                    (i)
                    that
                    directly identifies an individual (e.g., name, address, social security number or other identifying
                    number
                    or code, telephone number, email address, etc.) or (ii) by which an agency intends to identify
                    specific
                    individuals in conjunction with other data elements, i.e., indirect identification. (These data
                    elements
                    may
                    include a combination of gender, race, birth date, geographic indicator, and other descriptors).
                    Additionally, information permitting the physical or online contacting of a specific individual is
                    the
                    same
                    as personally identifiable information. This information can be maintained in either paper,
                    electronic
                    or
                    other media.”</p>

                <h2>Information We Collect</h2>

                <p><strong>Personal Information</strong>: Name, Company, Email, Phone, and Documents uploaded after the
                    submit button has
                    been
                    pressed on our form. We only use this information to contact potential
                    clients after the request for a quotation has been submitted. The only people with access to this
                    information are M.A. Indel, LLC employees with a business need. This information will not be sold
                    or
                    shared
                    with third party services or aggregators. The company site is hosted on a 3rd party hosting service
                    which
                    only collects usage information as outlined below. This hosting service may momentarily have access
                    to
                    your
                    information but they are obligated to maintain this information confidential.</p>

                <p id="sub-p"><strong>Usage Data</strong>: collection of usage data including, but not limited to,
                    browser
                    version,
                    browser
                    type, time and date of visit, time spent on individual pages within our website, type of device
                    used,
                    and
                    additional usage related information.</p>
                <p id="sub-p"><strong>Cookies</strong>: Cookies and other tracking methods are used to track usage of
                    the company website
                    and at times
                    contain information. Cookies are files with small amounts of information and a unique identifier
                    that
                    are
                    sent to your browser from a website and are stored on your device. This information is then used to
                    better
                    our website for you. Cookies may be disabled from your browser settings, as well as alerts every
                    time a
                    cookie is sent. If cookies are disabled, parts of our site may not work properly but all main
                    functions,
                    such as the use of the contact form, remain unchanged.</p>

                <h2>California Online Privacy Protection Act</h2>

                <p>The CalOPPA is a statewide law that applies to companies in the US and around the world that collect
                    personally identifiable information from California customers. It requires that our website has a
                    conspicuous privacy policy stating exactly what information is collected and with whom it is shared.
                    It
                    also
                    requires us to comply with our privacy policy. Also in compliance with the policy, a link has been
                    added
                    which is larger than other links and also a different color from the background it’s in on our
                    website
                    footer. We do not allow third party behavioral tracking.</p>

                <p id="sub-p">In order to change personal information collected please contact us through email at
                    rafael.boscan@maindel.com.</p>

                <h2>Children Online Privacy Act (COPPA)</h2>

                <p>COPPA allows parents and guardians to monitor and control what is done with the personal information
                    from
                    children under 13. This rule is enforced by the Federal Trade Commission, and it rules what can and
                    cannot
                    be done by websites to protect children’s privacy. We do not specifically target children under 13
                    as
                    our
                    customers and will do everything necessary to ensure data sent by someone in this category is
                    removed
                    from
                    company emails and servers.</p>

                <h2>Changes To Privacy Policy</h2>

                <p id="bottom-p">If any changes are made to this policy, they will be posted on this page. The changes
                    are
                    effectively
                    immediately after being posted on this page. If you have any questions please email
                    rafael.boscan@maindel.com or call
                    &nbsp;+1-804-564-3039.&nbsp;
                </p>

                <p><i>Last Edited: 9/12/2020</i></p>
        </div>
    </div>
    <div class="container-fluid privacy-footer" id="footer">
        <div class="row">
            <div class="col-sm" id="rights-reserved">
                <a href="../templates/tcs.html" class="underline"> Terms and Conditions </a>
            </div>
            <div class="col-7" id="rights-reserved-menu">
                <a href="../templates/index.html#"> HOME </a>
                <a href="../templates/index.html#main-about"> ABOUT US </a>
                <a href="../templates/index.html#services-row"> SERVICES </a>
                <a href="../templates/index.html#main-contactus"> CONTACT US </a>
            </div>
            <div class="col-sm" id="rights-reserved">
                <a href="../templates/privacy.html" class="underline"> Privacy </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm" id="rights-reserved-2">
                <p> © 2019 M.A. INDEL, LLC All Rights Reserved</p>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="footer-reordered">
        <div class="row" id="footer-reordered-menu">
            <div class="col-sm" id="rights-reserved-menu">
                <a href="../templates/index.html#" class="underline"> HOME </a>
            </div>
            <div class="col-sm" id="rights-reserved-menu">
                <a href="../templates/index.html#main-about" class="underline"> ABOUT US </a>
            </div>
            <div class="col-sm" id="rights-reserved-menu">
                <a href="../templates/index.html#services-row" class="underline"> SERVICES </a>
            </div>
            <div class="col-sm" id="rights-reserved-menu">
                <a href="../templates/index.html#main-contactus" class="underline"> CONTACT US </a>
            </div>
            <div class="col-sm" id="rights-reserved-menu">
                <a href="../templates/tcs.html" class="underline"> Terms and Conditions </a>
            </div>
            <div class="col-sm bottom" id="rights-reserved-menu">
                <a href="../templates/privacy.html" class="underline"> Privacy </a>
            </div>
        </div>
        <div class="col-sm" id="rights-reserved-2">
            <p> &nbsp;© 2019 M.A. INDEL, LLC All Rights Reserved &nbsp;</p>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="../js/header.js"></script>
    <script src="../js/scrollfade.js"></script>
</body>

</html>