<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>MAINDEL, LLC - Sourcing and Logistics Consultants</title>
    <meta name="author" content="Rafael Boscan Castillo">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="57x57" href="../css/img/favicon/apple-icon-57x57.png?">
    <link rel="apple-touch-icon" sizes="60x60" href="../css/img/favicon/apple-icon-60x60.png?">
    <link rel="apple-touch-icon" sizes="72x72" href="../css/img/favicon/apple-icon-72x72.png?">
    <link rel="apple-touch-icon" sizes="76x76" href="../css/img/favicon/apple-icon-76x76.png?">
    <link rel="apple-touch-icon" sizes="114x114" href="../css/img/favicon/apple-icon-114x114.png?">
    <link rel="apple-touch-icon" sizes="120x120" href="../css/img/favicon/apple-icon-120x120.png?">
    <link rel="apple-touch-icon" sizes="144x144" href="../css/img/favicon/apple-icon-144x144.png?">
    <link rel="apple-touch-icon" sizes="152x152" href="../css/img/favicon/apple-icon-152x152.png?">
    <link rel="apple-touch-icon" sizes="180x180" href="../css/img/favicon/apple-icon-180x180.png?">
    <link rel="icon" type="image/png" sizes="192x192" href="../css/img/favicon/android-icon-192x192.png?">
    <link rel="icon" type="image/png" sizes="32x32" href="../css/img/favicon/favicon-32x32.png?">
    <link rel="icon" type="image/png" sizes="96x96" href="../css/img/favicon/favicon-96x96.png?">
    <link rel="icon" type="image/png" sizes="16x16" href="../css/img/favicon/favicon-16x16.png?">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/styles.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light static-top">
        <img src='../css/img/pyramid-transparent.png' alt="M.A. Indel Pyramid with Rising Sun"
            class="navbar-brand-collapsed">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item mx-auto" id="navbar-button">
                    <a class="nav-link" href="../templates/index.html#">HOME</a>
                </li>
                <li class="nav-item mx-auto" id="navbar-button">
                    <a class="nav-link" href="../templates/index.html#main-about">ABOUT US</a>
                </li>
                <span class="navbar-text mx-auto" id="logo-contact">
                    <h1>sales@maindel.us</h1>
                </span>
                <img src='../css/img/pyramid-transparent.png' class="navbar-brand mx-auto"
                    alt="M.A. Indel Pyramid with Rising Sun">
                <span class="navbar-text mx-auto" id="logo-contact">
                    <h1>+1-804-564-3039</h1>
                </span>
                <li class="nav-item mx-auto" id="navbar-button">
                    <a class="nav-link" href="../templates/index.html#services-row">SERVICES</a>
                </li>
                <li class="nav-item mx-auto" id="navbar-button">
                    <a class="nav-link " href="../templates/index.html#main-contactus">CONTACT US</a>
                </li>
                <hr id="collapsed-navbar-contact-hr">
                <span class="navbar-text mx-auto" id="logo-contact2">
                    <h1>sales@maindel.us +1-804-564-3039</h1>
                </span>
            </ul>
        </div>
    </nav>
    <div class="container-fluid" id="terms">
        <div class="container">
        <p>
            <h1>Terms and Conditions</h1>
            <hr>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a neque risus. Maecenas at magna vitae quam
            sagittis imperdiet quis quis neque. Nunc lacinia tristique ipsum nec hendrerit. Sed arcu augue, sodales ac
            pharetra porta, porta at enim. Curabitur mi nibh, sagittis eu accumsan in, laoreet quis eros. Quisque a
            tellus hendrerit, feugiat lacus non, efficitur tellus. Praesent ut arcu suscipit, commodo lectus ac,
            porttitor ex. Pellentesque viverra dolor magna, vitae ultrices justo pulvinar eu. Suspendisse potenti.
            Suspendisse velit ipsum, blandit a tempor ut, bibendum ut magna. Curabitur laoreet lacus quis diam maximus,
            nec elementum ex consectetur.

            Aliquam a molestie risus. Etiam et arcu in ante tincidunt pulvinar. Pellentesque ut sollicitudin tellus.
            Integer iaculis diam quam, facilisis viverra elit imperdiet vitae. Nulla volutpat urna a augue semper
            iaculis. Quisque ultrices sem turpis, nec fringilla dolor venenatis et. Nulla mattis laoreet neque, vel
            congue orci laoreet vitae. In arcu tortor, posuere sit amet odio nec, tincidunt ultrices lacus. Ut ut turpis
            tellus. Mauris egestas, tortor nec semper varius, dui orci sagittis nulla, id finibus ante erat et massa.
            Vivamus bibendum sem ante, vitae convallis leo pellentesque mattis. Cras id tellus eros. Curabitur mattis
            viverra est, at posuere libero. Sed scelerisque nunc maximus, facilisis enim et, rutrum eros. Sed blandit
            egestas risus in blandit.

            Quisque bibendum dignissim sapien ut dictum. Aliquam dapibus nisl ac commodo tincidunt. Donec vehicula,
            tortor non dapibus faucibus, ante ex feugiat metus, at cursus ipsum ex vitae risus. Aliquam hendrerit sem id
            libero porttitor sollicitudin. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent
            fermentum nibh pharetra, luctus est a, elementum sem. Morbi dictum eleifend lorem.

            Integer a mi ultricies, dapibus mi ornare, consectetur purus. Nulla sollicitudin tempor urna, pretium
            dignissim dui accumsan in. Vivamus vitae fermentum libero. Pellentesque fermentum semper elit. Sed sem dui,
            efficitur porttitor commodo id, dictum sit amet neque. Fusce rhoncus ipsum velit, sed viverra eros blandit
            sed. Vestibulum massa tellus, euismod imperdiet ipsum sit amet, mollis porta lorem. In hac habitasse platea
            dictumst. Nulla orci dui, semper eu varius sit amet, ornare id erat.

            Phasellus aliquam, risus ut pellentesque euismod, libero dolor semper neque, eu blandit ligula augue eu
            felis. Sed lacus libero, cursus in quam eu, bibendum mattis sapien. Donec cursus est lacus, nec hendrerit
            orci pretium at. Cras vitae malesuada felis, non aliquet ligula. Sed rhoncus lectus consectetur interdum
            blandit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean
            maximus rutrum tincidunt. Suspendisse potenti. Etiam luctus eget lorem sit amet eleifend. Nunc nec viverra
            justo. In lacinia vehicula sem, eu dictum tellus tristique ut. Nam sollicitudin, dolor ut sagittis
            fringilla, sem ligula ullamcorper urna, vitae faucibus erat tortor a leo. Aenean nec risus et tortor
            fringilla blandit blandit et odio. In non risus vestibulum, varius tortor ut, tristique eros. Curabitur id
            pulvinar purus, congue interdum lectus.

            Pellentesque sit amet libero tempor, pellentesque eros vitae, facilisis nisl. Etiam venenatis, arcu maximus
            consectetur commodo, nisl leo consectetur leo, ut laoreet sem velit quis nulla. Integer vestibulum ornare
            enim sit amet faucibus. Phasellus euismod eleifend dolor, ut lobortis quam interdum a. Praesent non bibendum
            augue. Nunc et egestas magna. Cras dictum purus nec mi rhoncus eleifend.

            Nulla ac augue ac urna dictum congue. Nullam non gravida risus, et imperdiet tortor. Curabitur semper
            fermentum mollis. Donec venenatis nec mauris sit amet iaculis. Nulla et eros dapibus, cursus elit eget,
            semper ligula. Maecenas aliquam malesuada rhoncus. Praesent ultrices pellentesque erat non sodales. Praesent
            ac gravida erat, vel efficitur diam. Sed dictum neque at massa vehicula vestibulum. Duis at nibh dapibus,
            dapibus elit in, aliquam arcu. Etiam bibendum ornare eros sit amet convallis. Integer sagittis purus eu
            ipsum posuere, a venenatis quam consequat.

            Nam cursus laoreet interdum. Morbi vitae augue non sapien sodales placerat. Morbi nec sodales risus. Nunc
            nisi tortor, lacinia vitae mi nec, pellentesque iaculis diam. Maecenas quis velit lorem. Donec non diam sed
            eros vestibulum ultricies. Etiam posuere egestas pretium. Integer sed ultricies nulla. Duis ligula tellus,
            cursus nec dolor eget, volutpat efficitur ante. Nunc sed consectetur erat, vel finibus augue. Etiam in
            suscipit lorem. Fusce consequat nisl et urna euismod vehicula. Nunc lobortis blandit sem, in accumsan est
            interdum ut. Integer nec congue massa, in ornare est. Aenean tincidunt finibus aliquam.

            Donec sit amet lobortis est, in viverra ex. Mauris venenatis nisl in mollis ornare. Donec ut nulla in tellus
            ultrices mattis. Proin nec efficitur sem, non suscipit dui. Vivamus viverra felis eu dolor accumsan, nec
            hendrerit nulla rutrum. Curabitur hendrerit suscipit facilisis. Duis pretium, magna non scelerisque
            placerat, libero sapien facilisis felis, id viverra augue tellus vitae lorem. Integer vel diam efficitur,
            lacinia odio a, placerat tellus. Nunc rutrum ultrices ante ut facilisis. Nulla pharetra finibus elit at
            lacinia. Cras dignissim maximus nisl sit amet dapibus.

            Nunc ut diam tincidunt, consequat sem in, tincidunt dolor. Morbi fringilla neque vel est euismod, dictum
            sollicitudin purus tristique. Sed posuere euismod nisl, quis vulputate augue. Nulla quis tincidunt quam. Sed
            egestas eros in leo efficitur dignissim. Phasellus efficitur dolor et libero dictum, vitae pulvinar ligula
            lacinia. Proin sed sem tellus. Cras ultricies risus at nunc ullamcorper, eu sollicitudin dui ullamcorper.
            Sed sagittis auctor molestie. Fusce malesuada magna varius est scelerisque ullamcorper. Praesent aliquet
            tristique purus, a feugiat eros fringilla in.

            Maecenas quis luctus urna. Donec ultrices aliquam quam et finibus. Pellentesque aliquam bibendum metus id
            ultrices. In placerat viverra diam, fringilla vestibulum mauris sagittis quis. Praesent varius velit at ex
            malesuada hendrerit. Cras turpis leo, faucibus id sagittis pretium, semper ac ipsum. Integer varius nulla
            vel facilisis laoreet. Praesent sit amet nisi sed justo interdum aliquam ut non velit.

            Vivamus facilisis vehicula elit, at efficitur lectus pellentesque sed. Integer varius interdum arcu at
            cursus. Aenean posuere lacinia nisl. Ut laoreet consequat est et posuere. In posuere odio et hendrerit
            lobortis. Quisque dictum in orci feugiat consequat. Vivamus aliquet nisl et lectus finibus ullamcorper.
            Curabitur varius cursus felis in varius. Mauris eu cursus neque. Cras tortor arcu, pellentesque id tristique
            eu, dignissim nec neque. Mauris placerat tortor ligula, in molestie orci malesuada nec. Vestibulum ornare
            tempus aliquam. Ut eleifend sem nisi, eu viverra risus sodales a. Mauris elementum nunc sem, et malesuada
            elit finibus non. Nullam sit amet neque nec mauris sagittis consequat. Proin augue ligula, scelerisque quis
            molestie eu, venenatis id sem.

            Phasellus id dapibus turpis, eu volutpat nulla. Etiam convallis velit ipsum, et rutrum velit viverra quis.
            In vitae ante a velit efficitur iaculis eget vehicula nulla. Nam eros urna, rhoncus eget condimentum eu,
            lobortis ac nisl. Nullam quis ligula at risus sollicitudin fringilla. Phasellus interdum hendrerit porta.
            Etiam vehicula dapibus neque, sit amet dignissim augue faucibus in. Pellentesque tristique aliquam tortor
            vel rhoncus. Aenean viverra lectus ut ante aliquet suscipit.

            Proin euismod venenatis dui ac condimentum. Ut gravida urna mattis lobortis cursus. In porttitor elit vitae
            libero venenatis, vitae facilisis quam placerat. Aliquam fermentum varius dui. Duis sed tortor est. Etiam
            pulvinar purus egestas felis pellentesque, vehicula elementum metus tincidunt. Morbi massa erat, lobortis at
            rutrum eget, fringilla at eros. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
            ridiculus mus.

            Mauris risus sapien, malesuada sit amet commodo et, mattis ut elit. Nullam nec tincidunt quam, non porta
            purus. Nunc dolor odio, dictum ut iaculis id, fermentum feugiat leo. Proin lobortis vitae est vel tempor.
            Fusce velit risus, sollicitudin a risus finibus, dictum interdum nunc. Vivamus blandit ipsum dui, ac laoreet
            augue finibus a. In tellus nisi, rhoncus et tellus ut, accumsan cursus tellus. Fusce non leo sollicitudin,
            mattis quam tincidunt, faucibus erat. Nullam scelerisque nec metus a sodales. Suspendisse id nulla sed nunc
            facilisis pretium. Ut eget pulvinar ante, feugiat condimentum nulla. Suspendisse vitae risus turpis. Vivamus
            in orci vel nibh volutpat fermentum a ac diam. In ullamcorper, leo sed mattis auctor, ex enim semper leo, ut
            euismod massa odio non lorem.

            Ut et auctor ligula. Aenean turpis nisl, dapibus at cursus in, efficitur at lorem. Proin sit amet
            sollicitudin ex. Nulla aliquet elit augue, a vehicula ex euismod aliquam. Curabitur vitae auctor metus. Cras
            sed congue sem. Cras nulla ipsum, mollis a risus eget, elementum efficitur neque. Donec lobortis lorem
            ligula, ut luctus libero laoreet a. Suspendisse tempus euismod cursus. Etiam vulputate felis rutrum sapien
            convallis, id ornare erat ultricies. Mauris eget bibendum augue. Ut volutpat finibus tincidunt. Donec justo
            leo, molestie vel neque at, posuere bibendum quam.

            Suspendisse eu dui tellus. In rutrum, ligula sagittis rhoncus fermentum, lacus orci feugiat nunc, sit amet
            tincidunt lectus lacus eu turpis. Morbi aliquam nulla sit amet justo hendrerit accumsan. Aliquam finibus
            nulla sed massa tempor posuere. Nulla bibendum, magna non maximus porttitor, nisl nulla mollis justo, ac
            pellentesque mi sapien fringilla elit. Aliquam convallis massa ut dapibus accumsan. Donec auctor eu sem in
            laoreet.

            Vivamus auctor neque sed risus blandit, eu aliquet lorem accumsan. Maecenas nec tortor augue. Aenean
            pulvinar quam ut bibendum tincidunt. Fusce vulputate tempor tortor eu rutrum. Praesent nec metus lacinia,
            fringilla lorem porttitor, consectetur justo. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            Donec bibendum eros eu pretium consequat. Pellentesque vel porttitor elit.

            Ut in iaculis orci. Suspendisse elementum libero ac lacinia luctus. Nulla facilisi. Etiam tristique nibh sit
            amet purus pharetra, vitae vestibulum purus condimentum. Donec hendrerit gravida eros. Vestibulum
            pellentesque diam non laoreet auctor. Proin consequat nunc a rhoncus dictum.

            Nam consequat dapibus leo, sed faucibus eros. Quisque ut molestie ante. Suspendisse sed ornare nunc, sit
            amet efficitur orci. Nam malesuada luctus lacus eget mattis. Mauris facilisis, felis sed dapibus semper,
            lectus enim ultricies metus, vel rhoncus sapien est et leo. Maecenas lobortis cursus nisl eu porta. Etiam
            dolor orci, venenatis non vulputate eget, scelerisque id felis. Praesent scelerisque mi libero, at mattis
            sapien tempus id. Nunc aliquam tortor tellus, id scelerisque est mattis in. Sed orci leo, suscipit id velit
            sit amet, placerat volutpat magna. Nulla eros ligula, vulputate quis urna eget, faucibus pharetra diam.
            Fusce volutpat nibh at urna vehicula pharetra. In eu ipsum at turpis ullamcorper cursus.
        </p>
        </div>
    </div>
    <div class="container-fluid" id="footer">
        <div class="row">
            <div class="col-sm" id="rights-reserved">
                <a href="../templates/tcs.html" class="underline"> Terms and Conditions </a>
            </div>
            <div class="col-7" id="rights-reserved-menu">
                <a href="../templates/index.html#"> HOME </a>
                <a href="../templates/index.html#main-about"> ABOUT US </a>
                <a href="../templates/index.html#services-row"> SERVICES </a>
                <a href="../templates/index.html#main-contactus"> CONTACT US </a>
            </div>
            <div class="col-sm" id="rights-reserved">
                <a href="../templates/privacy.html" class="underline"> Privacy </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm" id="rights-reserved-2">
                <p> © 2019 M.A. INDEL, LLC All Rights Reserved</p>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="footer-reordered">
        <div class="row">
            <div class="col-sm" id="rights-reserved-menu">
                <a href="../templates/index.html#"> HOME </a>
            </div>
            <div class="col-sm" id="rights-reserved-menu">
                <a href="../templates/index.html#main-about"> ABOUT US </a>
            </div>
            <div class="col-sm" id="rights-reserved-menu">
                <a href="../templates/index.html#services-row"> SERVICES </a>
            </div>
            <div class="col-sm" id="rights-reserved-menu">
                <a href="../templates/index.html#main-contactus"> CONTACT US </a>
            </div>
        </div>
        <div class="col-sm" id="rights-reserved">
            <a href="../templates/tcs.html" class="underline"> Terms and Conditions </a>
        </div>
        <div class="col-sm" id="rights-reserved">
            <a href="../templates/privacy.html" class="underline"> Privacy </a>
        </div>
        <div class="col-sm" id="rights-reserved">
            <p> © 2019 M.A. INDEL, LLC</p>
            <p> All Rights Reserved</p>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="../js/header.js"></script>
    <script src="../js/scrollfade.js"></script>
</body>

</html>